#headerTop {
    background-color: rgb(221, 221, 221);
}

.container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    
    }

    headerTop .container {
        display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    }
#flag {
    width: 16px;
    margin-right: 8px;
}

#down {
    width: 16px;
}
#languageSelection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logoIcon {
    width: 40px;
}

.navIcon {
    width: 24px;
}
#headerCenter {
    padding-top: 8px;
    padding-bottom: 8px;
}

 #headerCenter .container {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}

.headerCenterSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(185, 179, 179);
    width: 500px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.headerCenterSearch input {
    border: none;
    width: 100%;
}

